.manageTeam {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
}

.manageTeamTitle {
    float: left;
    text-align: left;
    width: 80%;
    color: #767171;
    margin-left: 8%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 40px;
    font-weight: bold;
}

.manageTeamDiv {
    background-color: #f2f2f2;
    float: left;
    text-align: center;
    width: 75%;
    min-width: 800px;
    height: 85%;
    border: 4px solid darkgray;
    border-radius: 8em;                     /* border-top-left-radius */
    margin-left: 1.2%;
    margin-top: 1.2%;
    padding: 1%;
}